footer
    {   
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background: $colorFondVert;
        color: $colorPoliceJaune;
        font-size: xx-large;
        height: 140px;
        display: flex;        
    }
.nav
    {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .nav__linkMentions
        {
            margin-left: 40px;
        }
        
        .nav__linkContact
        {
            justify-content: end;   
            margin-right: 40px; 
        }
        .nav__linkMentions, .nav__linkContact {
            &:hover{
                animation: shake 400ms;
                animation-iteration-count: infinite;
            }
            @keyframes shake {
                0% { transform: translate(0px, 1px);} 
                25% { transform: translate(1px, 2px);}
                50% { transform: translate(2px, -1px);}
                100% { transform: translate(0px, 2px);}
            }  
        }  
    }
    a {
        text-decoration: none;
        color: $colorPoliceJaune;
    }
/* Ecrans Mobiles */
@media (min-width: 280px) and (max-width: 567px){
    footer
        {
            height: 100px;
        }
    .nav
        {
            flex-direction: column;
            font-size: smaller;
            
            .nav__linkMentions
                {
                    margin-top: 0.5em;
                    margin-left: 0em;        
                }
            .nav__linkContact
                {
                    margin-bottom: 0.5em;
                    margin-left: 1.5em;
                }       
        }
}