footer
    {
        background: $colorFondVert;
        color: $colorPoliceJaune;
        height: 140px;
        display: flex;
        margin-top: 0.5em;
    }

.nav
    {
        display: flex;
        align-items: center;
        .nav__linkMentions
        {
            color: pink;
            margin-left: 40px;
        }
        .nav__linkContact
        {
            justify-content: end;   
            font-weight: bold;
            margin-right: 40px;
        }        
    }
