header
    {
    background-color: $colorFondVert;
    font-family: Berlin Sans FB;
    font-size: 3em;
    color: $colorPoliceJaune;
    max-width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
