@charset "UTF-8";
/*La note enchantée*/
/*Le chic à la fraçaise*/
/*Le délice des papilles*/
/*La palette du goût*/
header {
  background-color: #579c87;
  font-family: Berlin Sans FB;
  font-size: 3em;
  color: #fdcb46;
  max-width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 280px) and (max-width: 480px) {
  header {
    height: 80px;
    font-size: 1.5em;
  }
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #579c87;
  color: #fdcb46;
  font-size: xx-large;
  height: 140px;
  display: flex;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav .nav__linkMentions {
  margin-left: 40px;
}
.nav .nav__linkContact {
  justify-content: end;
  margin-right: 40px;
}
.nav .nav__linkMentions:hover, .nav .nav__linkContact:hover {
  animation: shake 400ms;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(0px, 1px);
  }
  25% {
    transform: translate(1px, 2px);
  }
  50% {
    transform: translate(2px, -1px);
  }
  100% {
    transform: translate(0px, 2px);
  }
}

a {
  text-decoration: none;
  color: #fdcb46;
}

@media (min-width: 280px) and (max-width: 480px) {
  .nav {
    flex-direction: column;
  }
  .nav .nav__linkMentions {
    margin-top: 0.5em;
  }
  .nav .nav__linkContact {
    margin-bottom: 0.5em;
  }
}
body {
  margin: 0;
}

main {
  height: 100%;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: 28vh;
}

.menus {
  background: #ffffff;
  display: grid;
  grid-template-columns: 33vw 33vw;
  grid-template-rows: 100vh 100vh;
  grid-column-gap: 6vw;
  grid-row-gap: 11vh;
}
.menus__menu1, .menus__menu2, .menus__menu3, .menus__menu4 {
  box-shadow: 0px 0px 20px #b6b6b6;
  height: 100%;
}
.menus__menu1--zoom, .menus__menu2--zoom, .menus__menu3--zoom, .menus__menu4--zoom {
  transform: scale(1);
  transition: transform 600ms, opacity 1000ms;
}
.menus__menu1--zoom:hover, .menus__menu2--zoom:hover, .menus__menu3--zoom:hover, .menus__menu4--zoom:hover {
  transform: scale(1.4);
  opacity: 0.6;
}
.menus__menu1 {
  background-color: #fcdfdb;
}
.menus__menu1--zoom {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: black;
}
.menus__menu2--zoom {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: #c77412;
}
.menus__menu3--zoom {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: yellow;
}
.menus__menu4--zoom {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: green;
}

.double-croche {
  background: #f04a5e;
  /* Old browsers */
  background: -moz-linear-gradient(top left, #f04a5e 45%, #f78f6a 65%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top left, #f04a5e 45%, #f78f6a 65%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom right, #f04a5e 45%, #f78f6a 65%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="$startColor", endColorstr="$endColor",GradientType=1 );
  /* IE6-9 */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.menus__menu1--zoom h2, .menus__menu1--zoom p {
  font-family: Lucida Handwriting;
}

.menus__menu1--zoom p {
  font-size: 2em;
}

.menus__menu2--zoom h2 {
  background: #e38913;
  /* Old browsers */
  background: -moz-linear-gradient(top left, #e38913 45%, #8f5bfe 65%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top left, #e38913 45%, #8f5bfe 65%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom right, #e38913 45%, #8f5bfe 65%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="$startColor", endColorstr="$endColor",GradientType=1 );
  /* IE6-9 */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: Edwardian Script ITC;
  Font-size: 2.5em;
}

.menus__menu2--zoom p {
  font-family: Dante;
  font-weight: bold;
  font-size: 2em;
}

.menus__menu3--zoom h2 {
  background: #0431df;
  /* Old browsers */
  background: -moz-linear-gradient(top left, #0431df 45%, #0887fb 65%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top left, #0431df 45%, #0887fb 65%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom right, #0431df 45%, #0887fb 65%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="$startColor", endColorstr="$endColor",GradientType=1 );
  /* IE6-9 */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: Brush Script MT;
  font-size: 2.5em;
}

.menus__menu3--zoom p {
  font-family: Lucida Handwriting;
  font-size: 2em;
  color: #0887fb;
}

.menus__menu4--zoom h2 {
  background: #42973c;
  /* Old browsers */
  background: -moz-linear-gradient(top left, #42973c 45%, #bfff7e 65%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top left, #42973c 45%, #bfff7e 65%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom right, #42973c 45%, #bfff7e 65%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="$startColor", endColorstr="$endColor",GradientType=1 );
  /* IE6-9 */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: MV Boli;
  font-style: italic;
  font-size: 1.9em;
}

.menus__menu4--zoom p {
  font-family: Lucida Handwriting;
  font-size: 2em;
  color: #72bf56;
}

@media (min-width: 280px) and (max-width: 480px) {
  .menus {
    grid-template-columns: 80vw;
    grid-template-rows: 60vh 60vh 60vh 60vh;
  }

  .menus__menu1--zoom {
    transform: scale(1);
    transition: transform 600ms, opacity 1000ms;
  }
  .menus__menu1--zoom:hover {
    transform: scale(1.2);
    opacity: 0.6;
  }
  .menus__menu1--zoom h2 {
    font-size: 1em;
  }

  .menus__menu2--zoom, .menus__menu3--zoom {
    transform: scale(1);
    transition: transform 600ms, opacity 1000ms;
  }
  .menus__menu2--zoom:hover, .menus__menu3--zoom:hover {
    transform: scale(1.2);
    opacity: 0.6;
  }
  .menus__menu2--zoom h2, .menus__menu3--zoom h2 {
    font-size: 1.8em;
  }

  .menus__menu4--zoom {
    transform: scale(1);
    transition: transform 600ms, opacity 1000ms;
  }
  .menus__menu4--zoom:hover {
    transform: scale(1.2);
    opacity: 0.6;
  }
  .menus__menu4--zoom h2 {
    font-size: 1.4em;
  }
}
.btn {
  background-color: #579c87;
  color: #fdcb46;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 2em;
  border-radius: 9px;
  margin-top: 10vh;
}

.btn__point1, .btn__point2, .btn__point3 {
  position: relative;
  animation: bounce 900ms ease infinite;
}

@keyframes bounce {
  from {
    bottom: 0px;
  }
  50% {
    bottom: 5px;
  }
  to {
    bottom: 0px;
  }
}
.btn__point2 {
  animation-delay: 300ms;
}

.btn__point3 {
  animation-delay: 550ms;
}

@media (min-width: 280px) and (max-width: 480px) {
  .btn {
    width: 90%;
  }
}
h4 {
  font-family: Calibri;
  font-size: 3em;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.cartelNE {
  background-color: #fcdfdb;
  font-family: Lucida Handwriting;
  margin-top: 2em;
  margin-right: 5em;
  margin-bottom: 14em;
  margin-left: 5em;
  box-shadow: 0px 0px 20px #b6b6b6;
}

.laNoteEnchantee {
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 1.5em;
}

.carteMenulNE {
  margin: auto;
  max-width: 80%;
}
.carteMenulNE__effect--lNE {
  display: flex;
  align-items: center;
}
.carteMenulNE__effect--lNE::after, .carteMenulNE__effect--lNE::before {
  content: "";
  display: flex;
  width: 30%;
  height: 4px;
  background-color: black;
}
.carteMenulNE h2 {
  font-size: x-large;
  background: linear-gradient(to top, #f04a5e 2px, #f78f6a 2px, transparent 10px) no-repeat;
  background-size: 0% 100%;
  margin-left: auto;
  margin-right: auto;
  transition: background-size 400ms;
  width: fit-content;
}
.carteMenulNE ul {
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 2.5em;
}

li {
  display: flex;
  justify-content: space-between;
  margin-right: 0;
  margin-bottom: 1em;
  margin-left: 0;
}

h2:hover {
  background-size: 100% 100%;
}

span {
  display: flex;
  justify-content: flex-end;
}

.signature {
  font-size: x-large;
  display: flex;
  justify-content: center;
  margin-top: 3em;
  padding-bottom: 2em;
}

.double-croche.sign {
  font-size: xx-large;
  margin-right: 1em;
}

@media (min-width: 280px) and (max-width: 480px) {
  .cartelNE {
    margin-top: 2em;
    margin-right: 0.5em;
    margin-bottom: 10em;
    margin-left: 0.5em;
    max-height: 105em;
  }

  .carteMenulNE__effect--lNE::before, .carteMenulNE__effect--lNE::after {
    width: 10%;
  }
  .carteMenulNE h2 {
    font-size: 20px;
  }

  li {
    flex-direction: column;
  }

  .signature {
    font-size: large;
    width: 15em;
    margin-top: 1.5em;
    padding-bottom: 3em;
  }

  .double-croche.sign {
    font-size: x-large;
    margin-right: 0.5em;
    margin-bottom: 1.5em;
    margin-left: 0;
  }
}
h4 {
  font-family: Calibri;
  font-size: 3em;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.cartelCALF {
  background-color: #fff5fe;
  font-family: Baskerville Old Face;
  margin-top: 2em;
  margin-right: 5em;
  margin-bottom: 14em;
  margin-left: 5em;
  box-shadow: 0px 0px 20px #b6b6b6;
}

.leChicALaFrancaise {
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 1.5em;
  background: #e38913;
  /* Old browsers */
  background: -moz-linear-gradient(top left, #e38913 45%, #8f5bfe 65%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top left, #e38913 45%, #8f5bfe 65%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom right, #e38913 45%, #8f5bfe 65%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="$startColor", endColorstr="$endColor",GradientType=1 );
  /* IE6-9 */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.carteMenulCALF {
  margin: auto;
  max-width: 80%;
  padding-bottom: 4em;
  /*partie entrées*/
  /*partie plats*/
  /*partie desserts*/
}
.carteMenulCALF__effect--lCALFentrees, .carteMenulCALF__effect--lCALFplats, .carteMenulCALF__effect--lCALFdesserts {
  display: flex;
  align-items: center;
}
.carteMenulCALF h2 {
  font-size: x-large;
  background: linear-gradient(to top, #e38913 2px, #8f5bfe 2px, transparent 10px) no-repeat;
  background-size: 0% 100%;
  margin-left: auto;
  margin-right: auto;
  transition: background-size 400ms;
  width: fit-content;
}
.carteMenulCALF__effect--lCALFentrees {
  color: #c67412;
}
.carteMenulCALF__effect--lCALFentrees::before, .carteMenulCALF__effect--lCALFentrees::after {
  content: "";
  display: flex;
  width: 30%;
  height: 4px;
  background-color: #c67412;
}
.carteMenulCALF__effect--lCALFentrees + ul {
  color: #c67412;
  font-size: large;
  padding-left: 0;
  margin-right: 10%;
  margin-bottom: 2.5em;
  margin-left: 10%;
}
.carteMenulCALF__effect--lCALFplats {
  color: #a56799;
}
.carteMenulCALF__effect--lCALFplats::before, .carteMenulCALF__effect--lCALFplats::after {
  content: "";
  display: flex;
  width: 30%;
  height: 4px;
  background-color: #a56799;
}
.carteMenulCALF__effect--lCALFplats + ul {
  color: #a56799;
  font-size: large;
  padding-left: 0;
  margin-right: 10%;
  margin-bottom: 2.5em;
  margin-left: 10%;
}
.carteMenulCALF__effect--lCALFdesserts {
  color: #6e4ccc;
}
.carteMenulCALF__effect--lCALFdesserts::before, .carteMenulCALF__effect--lCALFdesserts::after {
  content: "";
  display: flex;
  width: 30%;
  height: 4px;
  background-color: #6e4ccc;
}
.carteMenulCALF__effect--lCALFdesserts + ul {
  color: #6e4ccc;
  font-size: large;
  padding-left: 0;
  margin-right: 10%;
  margin-bottom: 2.5em;
  margin-left: 10%;
}

li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

h2:hover {
  background-size: 100% 100%;
}

span {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 280px) and (max-width: 480px) {
  .cartelCALF {
    margin-top: 2em;
    margin-right: 0.5em;
    margin-bottom: 10em;
    margin-left: 0.5em;
  }

  .carteMenulCALF__effect--lCALFentrees::before, .carteMenulCALF__effect--lCALFentrees::after, .carteMenulCALF__effect--lCALFplats::before, .carteMenulCALF__effect--lCALFplats::after, .carteMenulCALF__effect--lCALFdesserts::before, .carteMenulCALF__effect--lCALFdesserts::after {
    width: 10%;
  }
  .carteMenulCALF h2 {
    font-size: 20px;
  }

  li {
    flex-direction: column;
  }
}
h4 {
  font-family: Calibri;
  font-size: 3em;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.cartelDDP {
  background-color: #edefef;
  font-family: MV Boli;
  margin-top: 2em;
  margin-right: 5em;
  margin-bottom: 14em;
  margin-left: 5em;
  box-shadow: 0px 0px 20px #b6b6b6;
}

.leDeliceDesPapilles {
  font-family: Script MT;
  font-size: 45px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 1.5em;
  background: #0431df;
  /* Old browsers */
  background: -moz-linear-gradient(top left, #0431df 45%, #0887fb 65%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top left, #0431df 45%, #0887fb 65%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom right, #0431df 45%, #0887fb 65%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="$startColor", endColorstr="$endColor",GradientType=1 );
  /* IE6-9 */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.carteMenulDDP {
  margin: auto;
  max-width: 80%;
  padding-bottom: 8em;
  /*partie entrées*/
  /*partie plats*/
  /*partie desserts*/
}
.carteMenulDDP__effect--lDDPentrees, .carteMenulDDP__effect--lDDPplats, .carteMenulDDP__effect--lDDPdesserts {
  display: flex;
  align-items: center;
}
.carteMenulDDP__effect--lDDPentrees h2, .carteMenulDDP__effect--lDDPplats h2, .carteMenulDDP__effect--lDDPdesserts h2 {
  font-size: x-large;
  background: linear-gradient(to top, #0431df 2px, #0887fb 2px, transparent 10px) no-repeat;
  background-size: 0% 100%;
  margin-left: auto;
  margin-right: auto;
  transition: background-size 400ms;
  width: fit-content;
}
.carteMenulDDP__effect--lDDPentrees + ul, .carteMenulDDP__effect--lDDPplats + ul, .carteMenulDDP__effect--lDDPdesserts + ul {
  color: black;
  font-size: large;
  padding-left: 0;
  margin-right: 10%;
  margin-bottom: 2.5em;
  margin-left: 10%;
}
.carteMenulDDP__effect--lDDPentrees::before, .carteMenulDDP__effect--lDDPentrees::after {
  content: "";
  display: flex;
  width: 30%;
  height: 4px;
  background-color: #0228dd;
}
.carteMenulDDP__effect--lDDPplats::before, .carteMenulDDP__effect--lDDPplats::after {
  content: "";
  display: flex;
  width: 30%;
  height: 4px;
  background-color: #0670f3;
}
.carteMenulDDP__effect--lDDPdesserts::before, .carteMenulDDP__effect--lDDPdesserts::after {
  content: "";
  display: flex;
  width: 30%;
  height: 4px;
  background-color: #229df9;
}

li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

h2:hover {
  background-size: 100% 100%;
}

span {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 280px) and (max-width: 480px) {
  .cartelDDP {
    margin-top: 2em;
    margin-right: 0.5em;
    margin-bottom: 10em;
    margin-left: 0.5em;
  }

  .carteMenulDDP {
    padding-bottom: 1em;
  }
  .carteMenulDDP__effect--lDDPentrees::before, .carteMenulDDP__effect--lDDPentrees::after, .carteMenulDDP__effect--lDDPplats::before, .carteMenulDDP__effect--lDDPplats::after, .carteMenulDDP__effect--lDDPdesserts::before, .carteMenulDDP__effect--lDDPdesserts::after {
    width: 10%;
  }
  .carteMenulDDP h2 {
    font-size: 20px;
  }
}
h4 {
  font-family: Calibri;
  font-size: 3em;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.cartelPDG {
  background-color: #fdfffd;
  font-family: MV Boli;
  margin-top: 2em;
  margin-right: 5em;
  margin-bottom: 14em;
  margin-left: 5em;
  padding-bottom: 8em;
  box-shadow: 0px 0px 20px #b6b6b6;
}

.laPaletteDuGout {
  font-family: MV Boli;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #42973c;
  /* Old browsers */
  background: -moz-linear-gradient(top left, #42973c 45%, #bfff7e 65%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top left, #42973c 45%, #bfff7e 65%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom right, #42973c 45%, #bfff7e 65%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="$startColor", endColorstr="$endColor",GradientType=1 );
  /* IE6-9 */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.carteMenulPDG {
  /*partie entrées*/
}
.carteMenulPDG__effect--lPDG {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
}
.carteMenulPDG h2 {
  font-size: x-large;
  background: linear-gradient(to top, #42973c 2px, #bfff7e 2px, transparent 10px) no-repeat;
  background-size: 0% 100%;
  margin-left: auto;
  margin-right: auto;
  transition: background-size 400ms;
  width: fit-content;
}
.carteMenulPDG__effect--lPDG + ul {
  color: black;
  font-size: large;
  padding-left: 0;
  margin-right: 10%;
  margin-bottom: 2.5em;
  margin-left: 10%;
}
.carteMenulPDG__effect--lPDG::before, .carteMenulPDG__effect--lPDG::after {
  content: "";
  display: flex;
  width: 30%;
  height: 4px;
  background-color: #bfff7e;
}
.carteMenulPDG li {
  margin-left: 5em;
  margin-right: 5em;
}

/*  mixin en tant que variable?!    &__effect--lPDGentrees::after
      {
          @include colorNameMenu($colorStartMenu4, $colorEndMenu4);
      }
  */
h2:hover {
  background-size: 100% 100%;
}

span {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 280px) and (max-width: 480px) {
  .cartelPDG {
    margin-top: 2em;
    margin-right: 0.5em;
    margin-bottom: 10em;
    margin-left: 0.5em;
  }

  .carteMenulPDG {
    padding-bottom: 1em;
  }
  .carteMenulPDG__effect--lPDG::before, .carteMenulPDG__effect--lPDG::after {
    width: 10%;
  }
  .carteMenulPDG h2 {
    font-size: 20px;
  }
  .carteMenulPDG li {
    margin-left: 0;
    margin-right: 0;
  }
}

/*# sourceMappingURL=style.css.map */
