main 
    {
    height: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    }
#menus
    {   
        background: #ffffff;
        display: grid;
        grid-template-columns: 535px 535px;
        grid-column-gap: 100px;
        grid-row-gap: 90px;
        justify-content: center;
        margin-bottom: 1em;
        
    }
.menus__menu1
    {
        
        cursor: pointer;
        text-align: center;
        background: $colorFondMenu1;
        padding: 1.5rem;
        margin-top: 0.5rem;
        color: blue;
        border: 10px solid black;
    }  
.menus__menu2
    {
        cursor: pointer;
        text-align: center;
        background: $colorFondMenu2;
        padding: 1.5rem;
        margin-top: 0.5rem;
        color: red;
        box-shadow: 10px 10px 10px #f1f1f1;
    }
.menus__menu3
    {
        cursor: pointer;
        text-align: center;
        background: $colorFondMenu3;
        padding: 1.5rem;
        margin-bottom: 0.5rem;
        color: yellow;
        box-shadow: 10px 10px 10px #f1f1f1;
    }
.menus__menu4
    {
        cursor: pointer;
        text-align: center;
        background: $colorFondMenu4;
        padding: 1.5rem;
        margin-bottom: 0.5rem;
        color: green;
        box-shadow: 10px 10px 10px #f1f1f1;
    }
.btn
    {
        background-color: #579c87;
        color: #fdcb46;
        display: flex;
        border-radius: 10px;
    }