.carte 
    {
        background-color: $colorFondMenu1;
        font-family: $fontFamilyAccueilMenu;
    }
.laNoteEnchantee
    {
        font-size: xx-large;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 3em;
        padding-bottom: 1.5em;
    }
.carteMenu
    {
        margin: auto;
        max-width: 80%;
            
    &__effect
        {
            display: flex;
            align-items: center;
        }
    &__effect::after, &__effect::before
        {
            content:"";
            display: flex;
            width: 30%;
            height: 4px;
            background-color: black;
        }
    }
ul
    {
        padding-left: 0;
        margin-bottom: 2.5em;
    }
li
    { 
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;
    }
h2
    {   
       @include underlineEffect($colorStartMenu1, $colorEndMenu1);
    }
h2:hover 
    {
        background-size: 100% 100%;
    }
  
span
    {
        display: flex;
        justify-content: flex-end;
    }
.signature 
    {
        font-size: x-large;
        display: flex;
        justify-content: center;
        margin-top: 3em;
        padding-bottom: 10em;
    }
.double-croche 
    {
        margin-right: 1em;
    }
    
    