h4
    {
       font-family: Calibri;
       font-size: 3em;
       display: flex;
       justify-content: center;
       margin-bottom: 1em;
    }
.cartelNE 
    {
        background-color: $colorFondMenu1;
        font-family: $fontFamilyAccueilMenu1;
        margin-top: 2em;
        margin-right: 5em;
        margin-bottom: 14em;
        margin-left: 5em;
        @include boxing-shadow;
    }
.laNoteEnchantee
    {
        font-size: xx-large;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 3em;
        padding-bottom: 1.5em;
    }
.carteMenulNE
    {
        margin: auto;
        max-width: 80%;
            
    &__effect--lNE
        {
            display: flex;
            align-items: center;
        }
    &__effect--lNE::after, &__effect--lNE::before
        {
            content:"";
            display: flex;
            width: 30%;
            height: 4px;
            background-color: black;
        }
    & h2
        {   
            @include underlineEffect($colorStartMenu1, $colorEndMenu1);
        }
    & ul
        {
            padding-left: 0;
            margin-left: 0;
            margin-bottom: 2.5em;
        }
    }
    
li
    { 
        display: flex;
        justify-content: space-between;
        margin-right: 0;
        margin-bottom: 1em;
        margin-left: 0;
    }
h2:hover 
    {
        background-size: 100% 100%;
    }
  
span
    {
        display: flex;
        justify-content: flex-end;
    }
.signature 
    {
        font-size: x-large;
        display: flex;
        justify-content: center;
        margin-top: 3em;
        padding-bottom: 2em;
    }
.double-croche.sign
    {
        font-size: xx-large;
        margin-right: 1em;
    }
@media (min-width: 280px) and (max-width: 480px) {
    .cartelNE 
        {
            margin-top: 2em;
            margin-right: 0.5em;
            margin-bottom: 4em;
            margin-left: 0.5em;
        }
    .carteMenulNE
        {
            &__effect--lNE::before, &__effect--lNE::after
                {
                    width: 10%;
                }
            & h2
                {   
                    font-size: 20px;
                }
        }
    li
        {
            flex-direction: column;
        }
    .signature 
        {
            font-size: large;
            width: 15em;
            margin-top: 1.5em;
            padding-bottom: 3em;
        }
    .double-croche.sign
        {
            font-size: x-large;
            margin-right: 0.5em;
            margin-bottom: 1.5em;
            margin-left: 0;
        }
}