h4
    {
       font-family: Calibri;
       font-size: 3em;
       display: flex;
       justify-content: center;
       margin-bottom: 1em;
    }
.cartelCALF
    {
        background-color: $colorFondMenu2;
        font-family: $fontFamilyCarte2;
        margin-top: 2em;
        margin-right: 5em;
        margin-bottom: 14em;
        margin-left: 5em;
        @include boxing-shadow;
    }
.leChicALaFrancaise
    {
        font-size: xx-large;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 3em;
        padding-bottom: 1.5em;
        @include colorNameMenu($colorStartMenu2, $colorEndMenu2)
    }
.carteMenulCALF
    {
        margin: auto;
        max-width: 80%;
        padding-bottom: 4em;
    
        &__effect--lCALFentrees, &__effect--lCALFplats, &__effect--lCALFdesserts
        {
            display: flex;
            align-items: center;
            font: pink;
        }
        &__effect--lCALFentrees::before, &__effect--lCALFentrees::after
        {
            @include effectCartelCALF($colorEntrees2);
        }
        &__effect--lCALFplats::before, &__effect--lCALFplats::after 
        {
            @include effectCartelCALF($colorPlats2);
        }
        &__effect--lCALFdesserts::before, &__effect--lCALFdesserts::after
        {
            @include effectCartelCALF($colorDesserts2);
        }
    }
ul
    {
        padding-left: 0;
        margin-bottom: 2.5em;
    }
li
    { 
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;
    }
h2
    {   
       @include underlineEffect($colorStartMenu2, $colorEndMenu2);
    }
h2:hover 
    {
        background-size: 100% 100%;
    }
  
span
    {
        display: flex;
        justify-content: flex-end;
    }
.signature 
    {
        font-size: x-large;
        display: flex;
        justify-content: center;
        margin-top: 3em;
        padding-bottom: 2em;
    }
.double-croche.sign
    {
        font-size: xx-large;
        margin-right: 1em;
    }
    