.btn {
    background-color: #579c87;
    color: #fdcb46;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 2em;
    border-radius: 9px;
  }