@mixin boxing-shadow {
    box-shadow: 0px 0px 20px #b6b6b6; 
}
@mixin boxing-appearance($colour, $fontcolor){
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 1.5rem;
    margin-top: 0.5rem;
    background-color: $colour;
    color: $fontcolor;
}
@mixin zoomEffect {
    transform: scale(1);
    transition: transform 600ms, opacity 1000ms;
    &:hover {
    transform: scale(1.5);
    opacity: 0.60;
    }
}
@mixin colorNameMenu($startColor, $endColor){
    background: #ff5656; /* Old browsers */
    background: -moz-linear-gradient(left,  #ff5656 0%, #ffc69e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #ff5656 0%,#ffc69e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #ff5656 0%,#ffc69e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5656', endColorstr='#ffc69e',GradientType=1 ); /* IE6-9 */;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}