$colorFondVert: #579c87;
$colorPoliceJaune: #fdcb46;
$colorFondMenu1: #fcdfdb;
$colorStartMenu1: #f04a5e;
$colorEndMenu1: #f78f6a;
$colorFondMenu2: #fff5fe;
$colorStartMenu2: #e38913;
$colorEndMenu2: #8f5bfe;
$colorEntrees2: #c67412;
$colorPlats2: #a56799;
$colorDesserts2: #6e4ccc;
$colorFondMenu3: #f9f9f9;
$colorStartMenu3: #0431df;
$colorEndMenu3: #0887fb;
$colorFondMenu4: #fdfffd;
$colorStartMenu4: #42973c;
$colorEndMenu4: #bfff7e;
$colorPolice4: #72bf56;
$fontFamilyAccueilMenu1: Lucida Handwriting;
$fontFamilyCarte2: Baskerville Old Face;



