$colorFondHeader: #579c87;
$colorPoliceHeader: #fdcb46;
$colorFondMenu1: #fcdfdb;
$colorFondMenu2: #fff5fe;
$colorFondMenu3: #f9f9f9;
$colorFondMenu4: #fdfffd;
$colorFondFooter: #579c87;
$colorPoliceFooter: #fdcb46;
