$colorFondVert: #579c87;
$colorPoliceJaune: #fdcb46;
/*La note enchantée*/
$colorFondMenu1: #fcdfdb;
$colorStartMenu1: #f04a5e;
$colorEndMenu1: #f78f6a;
/*Le chic à la fraçaise*/
$colorFondMenu2: #fff5fe;
$colorStartMenu2: #e38913;
$colorEndMenu2: #8f5bfe;
$colorEntrees2: #c67412;
$colorPlats2: #a56799;
$colorDesserts2: #6e4ccc;
/*Le délice des papilles*/
$colorFondMenu3: #f9f9f9;
$colorStartMenu3: #0431df;
$colorEndMenu3: #0887fb;
$colorFondCarte3: #edefef;
$colorEntrees3: #0228dd;
$colorPlats3: #0670f3;
$colorDesserts3: #229df9;
/*La palette du goût*/
$colorFondMenu4: #fdfffd;
$colorStartMenu4: #42973c;
$colorEndMenu4: #bfff7e;
$colorPolice4: #72bf56;

$fontFamilyAccueilMenu1: Lucida Handwriting;
$fontFamilyCarte2: Baskerville Old Face;
$fontFamilyCarte3: MV Boli;


